.sidebar {
  margin: 18px;
  padding: 18px;
  background-color: #f0f0f0;
  border-radius: 18px;

  .logo {
    margin-bottom: 12px;
    border-bottom: 1px solid var(--color-neutral-600);
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > *:first-child {
      margin-right: 8px;
    }

    .title {
      color: var(--color-brand-800);
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px;
      text-transform: uppercase;
    }
  }
}
