.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;

  & > *:first-child {
    margin-right: 8px;
  }

  .title {
    color: var(--color-brand-800);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
  }
}

.button {
  border-radius: 0;
  border-width: 2px;
  border-color: var(--color-danger-600);
  background-color: white;
  color: var(--color-danger-600);
  transition: background-color 300ms ease;
  text-transform: uppercase;

  &:hover {
    border-color: var(--color-danger-600);
    background-color: var(--color-danger-100);
  }
}
