$mobile-width: 768px;

@mixin for-mobile {
  @media screen and (max-width: #{$mobile-width + 1px}) {
    @content;
  }
}

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;

  @include for-mobile {
    margin: 24px 20px 0;
  }
}

.logo {
  display: flex;
  align-items: center;

  & > *:first-child {
    margin-right: 8px;
  }

  .title {
    color: var(--color-brand-800);
    font-size: 32px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;

    @include for-mobile {
      display: none;
    }
  }
}

.button {
  border-radius: 0;
  border-width: 2px;
  border-color: var(--color-danger-600);
  background-color: white;
  color: var(--color-danger-600);
  transition: background-color 300ms ease;
  text-transform: uppercase;

  @include for-mobile {
    font-size: 15px;
    line-height: 25px;
    padding: 0 16px;
  }

  &:hover {
    border-color: var(--color-danger-600);
    background-color: var(--color-danger-100);
  }
}
